# {{ ansible_managed }}
name: local/host-whitelist
description: Internal ranges and the public addresses of all hosts
whitelist:
  reason: internal or admin source
  cidr:
{% for cidr in crowdsec_whitelist %}
    - "{{ cidr }}"
{% endfor %}
