server: https://{{ kubernetes.control_plane.dns_name }}:6443
token: '{{ kubernetes.token }}'

{% if nodeip_ipv6 != "" and kubernetes.ipPool.ipv6 is defined %}
node-ip: {{ nodeip_ipv4 }},{{ nodeip_ipv6 }} 
{% else %}
node-ip: {{ nodeip_ipv4 }}
{% endif %}

## Label
# Region & DC
node-label:
{% if region is defined %}
  - topology.kubernetes.io/region={{ region }}
{% endif %}
{% if zone is defined %}
  - topology.kubernetes.io/zone={{ zone }}
{% endif %}
